* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-border-radius: 0;
    -fx-border-insets: 0;
}

/* tabs */

.tab-label {
    -fx-text-fill: white;
}

.tab {
    -fx-background-color: transparent, tab-border-color, tab-color;
    tab-color: linear-gradient(light-tab-color, dark-tab-color);
    tab-border-color: dark-tab-color;
    dark-tab-color: #721b1b;
    light-tab-color: #9b2626;
    -fx-background-insets: 0, 0 5 0 0, 1 6 0 0;
    -fx-padding: 4 10 4 4;
}

.tab:hover {
    tab-color: light-tab-color;
}

.tab:pressed {
    tab-color: dark-tab-color;
}

/* menu */

MenuBar {
    -fx-background-color: linear-gradient(#546E7A, #37474F);
    -fx-border-color: #263238;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #546E7A;
}

.context-menu {
    -fx-background-color: #37474F;
    -fx-border-color: transparent #263238 #263238 #263238;
}

/* low box */

#lowBox {
    -fx-background-color: linear-gradient(#546E7A, #37474F);
    -fx-border-color: #263238;
}

/* separator */
#separator {

}

/* start button */

Button {
    -fx-padding: 0;
}

#startButton:hover {
    -fx-background-color: #9b2626;
}

#startButton:pressed {
    -fx-background-color: #721b1b;
}

#startButton {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#9b2626, #721b1b);
    -fx-border-color: #721b1b;
}